body {
    padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 2px;
	padding-right: 2px;
}

.lead-page {
    padding: 2rem 1.5em;
    text-align: center;
}

.lead-img {
	align-items: center;
	align-content: center;
}

.button-3d {
	height: 1.2em;
}

.printer {
	width: 50%;
	text-align: center;
}

.code-format {
	font-family: monospace;
}

.sequence {
	border-radius: 0.3em;
	padding: 0.3em;
	background-color: lightgoldenrodyellow;
	font-weight: bold;
	font-size: 1em;
}

.instruction-img {
	width: 80%;
	padding: 2px;
	margin-left: 9%;
	margin-right: 9%;
	text-align: center;
	align-self: center;
	border-radius: 0.5em;
}